<nav>
  <div class="site-title">
    <a href="/"><h1>Competencia Robótica UVM</h1></a>
    <p>Sitio Oficial Competencia de Robótica</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>
