<html lang="es">
<%- include("./parciales/cabecera.ejs") %>

<body>
  <%- include("./parciales/barra.ejs") %>
  <h1>Bienvenidos a la Competencia de Robótica de la UVM</h1>

  <%- include("./parciales/fondo.ejs") %>
</body>
</html>
